
<!DOCTYPE html>
<html>
<head><title>HELLO BUDDY</title></head>
<body>
    <div  align="center" style="background-color:lightblue">
        
            <form action="saving">
                First Name<input type="text" placeholder="Enter first name" name="name" required />
                Last Name<input type="text" placeholder="Enter last name" name="name" required /><br />
                <br /><br />
                UserName<input type="text" placeholder="Enter Username" name="name" required /><br />
                <br /><br />
                Contact<input type="number" placeholder="Enter contact number" contact="contact" /><br />
                <br /><br />
                Email<input type="email" placeholder="Enter Email" name="email" required /><br />
                <br /><br />
                Password1<input type="password" placeholder="Enter passwprd here" name="password" required /><br />
                <br /><br />
                Password2<input type="password" placeholder="Retypr Password" name="password" required /><br />
                <br /><br />
                Male<input type="radio" name="gender" value="male" />

                Female<input type="radio" name="gender" values="femlae" /><br />
                <br /><br />
                Nationality<select>
                    <option value="Indian">Indian</option>
                    <option value="other">Other</option>
                </select><br />
                <br /><br />
                <button type="submit">Submit</button>

        

    </form>
</body>
</div>
</html>
